.card{
  background-color: rgba(0, 0, 0, 0.5);
}
a:hover {
    color: #721c24;
    text-decoration: none;
}
a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-content{
    background-image: url('/img/modalback.jpg');
}
.m_boardsBox_odd{
	min-width: 200px;
    margin: 10px;
    min-height: 200px;
    text-align: center;
		background-image: url('/img/back3.gif');
    color: $boardFontColor;
    border: $boardCardBorder solid $boardBorderColor;
    font-weight: bold;
    height: 100%;
    max-width: 400px;
}
.m_boardsBox_even{
	min-width: 200px;
    margin: 10px;
    min-height: 200px;
    text-align: center;
		background-image: url('/img/back4.jpg');
    color: $boardFontColor;
    border: $boardCardBorder solid $boardBorderColor;
    font-weight: bold;
    height: 100%;
    max-width: 400px;
}
.m_listBox{
	min-width: 300px;
    margin: 13px;
    min-height: 175px;
    height: 100%;
}
.m_card{
	background-color: $boardBgAquaColor;
    padding: 7px 3px 7px 7px;
    margin: 7px;
}
.m_card_list{
	background-color: rgba(0, 0, 0, 0.03);
}
.m_card_icon_span{
	min-width: 45px;
}
.m_icon{
	width:1rem;
	height:1rem;
	margin: 0px .2rem;
}
.m_smallicon{
	width: .75rem;
	height: .75rem;
	margin: 0px .2rem;
}
.m_boardIcon{
    padding: 0px;
    background-color: $boardBgTranspColor;
    border: 0px;
}
.m_listIcon{
	padding: 0px;
    background-color: $boardBgTranspColor;
    border: 0px;
    margin-right: 3px;
}
.m_boardCardHeader{
	padding-bottom: 20px;
}
.m_icon:hover{
	background-color: $boardBgColor;
}
.form-inline{
	flex-flow: nowrap;
}
